*, html, body {
	padding: 0;
	margin: 0;
}
html, body {
	float: left;
	width: 100%;
	height: 100%;
	display: block;
	font-family: "Ubuntu";
	font-weight: normal;
	line-height: normal;
}
.container {
	width: 550px;
	margin: 0 auto;
	display: table;
	background-color: #99CCFF;
	border: 1px solid #000;
	margin-top: 20px;
}
.container .logo {
	float: left;
	width: 100%;
}
.logo img {
	display: table;
    margin: 25px auto;
    width: 180px;
}
.container h1 {
	float: left;
	width: 100%;
	text-align: center;
	line-height: normal;
	font-size: 30px;
	color: #777;
	font-weight: 500;
}
.container form {
	float: left;
	padding: 20px;
	width: 93%;
	color: #000;
}
form .field_content, form .radio_content, form .cal_btn {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.field_content label {
	float: left;
    font-size: 17px;
    line-height: 29px;
}
.field_content input {
	float: right;
    padding: 5px;
    width: 200px;
    font-size: 15px;
}
.radio_content .radio_check {
	float: left;
	margin-right: 15px;
}
.radio_content .radio_check:last-child {
	margin: 0;
}
form .cal_btn input {
	width: 200px;
	padding: 5px;
	font-size: 17px;
	margin: 0 auto;
	display: table;
	background-color: #999;
	border: 1px solid #ccc;
	color: #fff;
	cursor: pointer;
}
form .cal_btn input:hover {
	background-color: #000;
}